.whatsapp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.whatsapp .btn-whatsapp {
    background: rgb(4, 224, 74);
    font-size: 18px;
    padding: 10px 12px;
    width: 110px;
    border: 0;
    border-radius: 8px;
}

.whatsapp a{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}